#
# .gitignore
# mosaic
#
# Created by Christian Bator on 03/11/2025
#

# Magic
.magic

# XCode
*.xcodeproj

# Build artifacts
build/artifacts

# External source files
libcodec/*.h

# Rattler-build
rattler-build/output
