#
# .gitignore
# mosaic
#
# Created by Christian Bator on 03/11/2025
#

# Magic
.magic

# XCode
*.xcodeproj

# Build artifacts
build/artifacts

# Rattler-build
rattler-build/output

# Development
main.mojo
