#
# .gitignore
# mosaic
#
# Created by Christian Bator on 03/11/2025
#

# Magic
.magic

# XCode
*.xcodeproj

# Build artifacts
build/artifacts

# Examples
examples/mosaic.mojopkg
examples/lib

# External source files
libcodec/*.h
